<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fad9d">  <td>19/03/03 16:16:56</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:com.framework.testcases.TC002_SearchVendor@6536e911]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/03/03 16:16:57</td>   <td>434</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_SearchVendor.setData()[pri:0, instance:com.framework.testcases.TC002_SearchVendor@6536e911]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/03/03 16:16:57</td>   <td>440</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:com.framework.testcases.TC002_SearchVendor@6536e911]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/03/03 16:16:57</td>   <td>1024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:com.framework.testcases.TC002_SearchVendor@6536e911]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/03/03 16:17:03</td>   <td>6535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_SearchVendor.SearchVendor(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.framework.testcases.TC002_SearchVendor@6536e911]">SearchVendor</td> 
  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/03/03 16:17:08</td>   <td>12244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:com.framework.testcases.TC002_SearchVendor@6536e911]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/03/03 16:17:11</td>   <td>14598</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:com.framework.testcases.TC002_SearchVendor@6536e911]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
</table>
